/* 各种常量定义 */

/********** 整体 **********/

// 最大屏宽
$max-screen-width: 750px;

// 最大弹框宽度
$max-dialog-width: 600px;

/********** 通用 **********/

// 黑色
$black: #000;

// 白色
$white: #fff;

// 红色，如：价格、导航栏、标红文字、红点
$red-main: #ff483c;

// 黄色，如：商品详情页
$yellow: #ffcd55;

// 蓝色，如：消息气泡
$blue: #6d9cfb;

/********** 效果 **********/

// 不可点击色
$disabled: #d6d6d7;

/********** 字体 **********/

// 一级文字信息，如：标题、描述文字
$first-font: #111;

// 二级文字信息，如：辅助文字信息等
$second-font: #9b9b9b;

// 次级文字信息，如：时间、点赞等
$third-font: #777;

// 链接色
$link-font: #4a90e2;

/********** 背景 **********/

// 界面背景、间隔条
$gray-bg: #f8f8f8;

// 半透明黑色蒙板
$black-opacity-bg: rgba(0, 0, 0, 0.6);
